*{
    box-sizing:border-box;
    padding:0px;
    text-decoration: none;
    font-family: sans-serif;
   
}

.flex-container{
    display:flex;
    align-items:center;
    justify-content: center;
    border:2px solid rgb(6, 110, 245);
    border-radius:10px;
}

.flex-container div{
    margin:300px;
    padding:10px;
    flex-grow: 0;
    background-color: rgba(7, 81, 241, 0.741);
    font-size: 30px;
    
}